extends layout

block content
    .container
        h1 Channels
        .list-group
          - each channel in channels            
              a.list-group-item(href="/channels/" + channel)
                  h4.list-group-item-heading #{channel}'s channel