extends layout

block content
    .jumbotron
      .container
        h1 Welcome to your Magic Box!
        p
          | Here you can share your favourite links with the rest of the world in your own channel.
        p
          a.btn.btn-primary.btn-lg(href='/channels', role='button') Go to Channel List! &raquo;
    .container
      // Example row of columns
      .row
        .col-md-4.text-center
          h2 Easy to use
          p
            | Just copy your link in the input field and click Send!
          p
            span(aria-hidden='true').fa.fa-smile-o.fa-5x
        .col-md-4.text-center
          h2 Collaborative
          p
            | You can send the link to your friends and they can also post their links!
          p
            span(aria-hidden='true').fa.fa-slideshare.fa-5x
        .col-md-4.text-center
          h2 Fast
          p
            | Right after you send it, your content will be embed on the Magic Box!
          p
            span(aria-hidden='true').fa.fa-location-arrow.fa-5x
      hr
      footer
        p &copy; Magic Box 2014
