<!DOCTYPE html>
<html>
<head>
    <title>Magic Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/thirdparty/bootstrap/css/bootstrap.css">
</head>
<body>
    <div id="magicbox">
        <div id="magicboxheader">
            <h1>Magic box - Channel 1</h1>
        </div>
        <div id="magicboxobjectwrapper">
            <object id="magicboxobject"></object>
        </div>
        <div id="magicboxhistoric">
            <h2>Last links</h2>
            <ul id="messages">
            </ul>
        </div>
        <div id="magicboxform">
            <input id="sharedlink" required="required" placeholder="Insert the link you want to share..." class="form-control" autocomplete="off" onkeydown="if (event.keyCode == 13) document.getElementById('sharelink').click()"/>
            <button id="sharelink" type="button" class="btn btn-success">Send</button>
            <div id="invalidLink" class="alert alert-danger" style="padding: 6px 12px; margin-bottom: 0px; display: none;" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            </div>
            <div id="correctLink" class="alert alert-success" style="padding: 6px 12px; margin-bottom: 0px; display: none;" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/thirdparty/jquery/jquery-1.11.1.js"></script>
    <script src="/thirdparty/moment/moment.js"></script>
    <script src="/thirdparty/lodash/lodash.min.js"></script>
    <script src="/javascripts/controllers/magicboxController.js"></script>
    <script src="/thirdparty/bootstrap/js/bootstrap.js"></script>
</body>
</html>