<!doctype html>
<html>
  <head>
    <title>Magic Box</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    Ejemplos:
    <ul>
      <li>Image: http://www.online-image-editor.com/styles/2013/images/example_image.png</li>
      <li>Dibujo: https://docs.google.com/drawings/d/19i0f_Eo8UJ0x62Nrs15JWlzOVewMsHvjj9aeOSuCKvc/edit?usp=sharing</li>
      <li>Doc: https://docs.google.com/document/d/1CBTXdfTAdxKb1LfPdwHQyY7MAEqtw51NfB8UEfnTy44/edit?usp=sharing</li>
    </ul>
    <div id="magicbox">
      <div id="magicboxheader">
        <h1>Magic box - Channel 1</h1>
      </div>
      <div id="magicboxobjectwrapper">
        <object id="magicboxobject"></object>
      </div>
      <div id="magicboxhistoric">
        <ul id="messages">
        </ul>
      </div>
      <div id="magicboxform">
          <input id="sharedlink" required="required" autocomplete="off" onkeydown="if (event.keyCode == 13) document.getElementById('sharelink').click()"/>
          <button id="sharelink" type="button">Send</button>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/thirdparty/jquery-1.11.1.js"></script>
    <script src="/javascripts/controllers/magicboxController.js"></script>
  </body>
</html>