extends layout

block content
  .container
    h1 Creating new channel
    if error
      .alert.alert-danger(role="alert")
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
        span.sr-only Error: 
        span #{error}
    form(method="POST" action="/newchannel")
      .form-group
        label(for="channelname") Channel's name
        input.form-control(id="channelname" name="channelname" placeholder="Enter channel's name" required="required" maxlength="20")
        input(type="hidden" id="secret" name="secret")
      .form-group
        .g-recaptcha(data-sitekey="6LdvpwATAAAAAAOmIlINSJluyj3IhxJiHUwA9j29")
      .btn-toolbar
        button.btn.btn-success(type="submit" onclick="return setVisibility('')" data-toggle="tooltip" data-placement="bottom" title="Your channel will be on the public list") Public
        button.btn.btn-primary(type="submit" onclick="return setVisibility('true')" data-toggle="tooltip" data-placement="bottom" title="You will have to share the channel's link with your friends") Private
        a.btn.btn-default(href="/channels", role="button") Cancel