html, body{
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Magic box */
#magicbox {
    margin: 20px;
    background-color: #009688;
}
#magicboxheader1 {
    color: white;
    padding-left: 10px;
}
#magicboxheader2 {
    color: white;
}
#magicboxobjectwrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}
#magicboxobjectwrapper > *{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#magicboxhistoric {
    height: 700px;
    overflow-y: scroll;
    background-color: #009688;
}
#magicboxhistoric ul {
    list-style-type: none;
    color: white;
}
#magicboxhistoric ul li:hover{
    background-color: #5CB85C;
}
#magicboxhistoric a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#magicboxform {
    border-top: solid 2px white;
    padding: 10px;
}
#logo {
	height: 34px;
}
.navbar-brand {
	padding: 8px 8px;
}