* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

/* Magic box*/

#magicboxobject {
    width: 100%;
    height: 600px;
}

#magicbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    font-weight: bold;
    text-align: center;
    background-color: #5DC1B9;
    width: 80%;
    border: 2px solid #AAAAAA;
}
#magicbox > * {
    padding: 10px;
    width: 100%;
    flex: 1 100%;
}
#magicboxheader{
    color: white;
    border: solid 1px white;
}
#magicboxobjectwrapper {
    border: solid 1px white;
    flex: 1 80%;
    height: 630px;
}
#magicboxhistoric{
    border: solid 1px white;
    flex: 1 20%;
    overflow-y: scroll;
    height: 630px;
}
#magicboxhistoric ul {
    list-style-type: none;
}
#magicboxhistoric li {
    color: white;
}
#magicboxform{
    border: solid 1px white;
    display: flex;
}
#magicboxform input{
    width: 90%;
    padding: .5%;
}