* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Magic box */
#magicbox {
    margin: 20px;
    background-color: #009688;
}
#magicboxheader1 {
    color: white;
    padding-left: 10px;
}
#magicboxheader2 {
    color: white;
}
#magicboxobject {
    width: 100%;
    height: 600px;
    padding: 10px;
}
#magicboxhistoric {
    overflow-y: scroll;
    height: 600px;
    background-color: #009688;
}
#magicboxhistoric ul {
    list-style-type: none;
    color: white;
}
#magicboxhistoric a {
    color: white;
}
#magicboxform {
    border-top: solid 2px white;
    padding: 10px;
}
#logo {
	height: 34px;
}
.navbar-brand {
	padding: 8px 8px;
}